<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.js"></script>
	
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<script type="text/javascript" th:src="@{/js/userInfo.js}"></script>
<script type="text/javascript" th:src="@{/js/theme.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
<title>Account</title>
</head>
<body class="body">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">Gathr</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item"><a class="nav-link" href="/groups">Groups</a>
			  </li>
              <li class="nav-item">
                <a class="nav-link" href="/info">Location</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/chat">Chat</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="/contactus">Contact
						Us</a></li>
            </ul>
          </div>
          <form class="form-inline my-2 my-lg-0">
		  	<a class="nav-link" href="/account">Account</a>
		  </form>
	</nav>
	<div class="container jumbotron">
	    <h1>Account Info</h1>
	    <hr>
	    <h2>Personal Information</h2>
	    <div class="form-group">
	  		<p class="control-label">Username: <span th:text="${username}"></span></p>
	  	</div>
	  	<div class="form-group">
	  		<p class="control-label">Email: <span th:text="${email}"></span></p>
	  	</div>    
		<div class="form-group">
	  		<p class="control-label">First Name: <span th:text="${firstname}"></span></p>
	  	</div>
	  	<div class="form-group">
	  		<p class="control-label">Last Name: <span th:text="${lastname}"></span></p>
	  	</div>
	  	<hr>
	  	<h2>Geolocation</h2>
	  	<div class="form-group">
	  		<p class="control-label">Country: <span th:text="${country}"></span></p>
	  	</div>
	  	<div class="form-group">
	  		<p class="control-label">State: <span th:text="${state}"></span></p>
	  	</div>
	  	<div class="form-group">
	  		<p class="control-label">City: <span th:text="${city}"></span></p>
	  	</div>
	  	<div class="form-group">
	  		<p class="control-label">Latitude: <span th:text="${lat}"></span></p>
	  	</div>
	  	<div class="form-group">
	  		<p class="control-label">Longitude: <span th:text="${lon}"></span></p>
	  	</div>
	  	<div class="form-group">
	    	<p class="control-label">Elevation: <span th:text="${elev}"></span></p>
	  	</div>
	  	<hr>
	  	<h2>Group Names</h2>
	  	
	  	<div class="form-group" th:each="groupname : ${groupnames}">
    		<p th:text="${groupname}"></p>
	  	</div>
	  	
	  	<form>
	  	<fieldset disabled="disabled">
		  <div class="form-group">
		    <label for="usernameIn">Username</label>
		    <input type="text" class="form-control" id="usernameIn" th:attr="placeholder=${username}">
		  </div>
		  <div class="form-group">
		    <label for="emailIn">Email</label>
		    <input type="text" class="form-control" id="emailIn" th:attr="placeholder=${email}">
		  </div>
		  <div class="form-group">
		    <label for="firstNameIn">First Name</label>
		    <input type="text" class="form-control" id="firstNameIn" th:attr="placeholder=${firstname}">
		  </div>
		  <div class="form-group">
		    <label for="firstNameIn">Last Name</label>
		    <input type="text" class="form-control" id="lastNameIn" th:attr="placeholder=${lastname}">
		  </div>
		  
		  <div class="form-group">
		  	<ol class="breadcrumb">
			  <li class="breadcrumb-item" th:text="${country}"></li>
			  <li class="breadcrumb-item" th:text="${state}"></li>
			  <li class="breadcrumb-item active" th:text="${city}"></li>
			</ol>
		  </div>
		  <div class="form-group">
		    <label for="latLng">Lat/Lng</label>
		    <input type="text" class="form-control" id="latLng" th:attr="placeholder=${coords}">
		  </div>
		  <div></div>
		  <div class="form-group">
		  	<label for="groupDisplay">Groups</label>
			<select id="groupDisplay" class="custom-select" th:each="groupname : ${groupnames}">
				<option th:text="${groupname}"></option>
			</select>
		  </div>
		  
		  <div class="form-group">
		  	<label for="appThemeSelector">App Style</label>
			<select id="appThemeSelector" class="custom-select">
				<option value="light" th:text="Light"></option>
				<option value="dark" th:text="Dark"></option>
				<option value="enhanced" th:text="Enhanced"></option>
			</select>
		  </div>
		  </fieldset>
		</form>
  	</div>      
</body>
</html>