<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf"
	crossorigin="anonymous">
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/chatwin.css}">
<script type="text/javascript" th:src="@{/js/theme.js}"></script>
<script type="text/javascript" th:src="@{/js/global.js}"></script>
<title>Chat</title>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">Gathr</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
       
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/groups">Groups</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info">Location</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/chat">Chat</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="/contactus">Contact
						Us</a></li>
            </ul>
          </div>
        
          <div class="my-2 my-lg-0">
          	<a class="nav-link" href="/account">Account</a>
          </div>
          
      </nav>
      	<div class="container jumbotron" style="margin: auto">
      	<h3>Current Group</h3>
      	<div class="form-group">
	      <label for="groupsel">Group select</label>
	      <select class="form-control" id="groupsel">
	      </select>
	    </div>
      	
      	<div class="jumbotron" id="chatlog" style="height:400px;overflow:auto;">
      	
		</div>
		
		<textarea rows="3" cols="50" id="msg"></textarea>
		<button onclick="addMsg() " >Submit</button>
		</div>
		
		<script type="text/javascript">
			var sentmsg;
			var groupId;
			var oldResponse;
			//function switchGroup() {
			//	var groupEntered = document.getElementById("groupID");
			//	groupId = groupEntered.value;
			//}
			$("document").ready(function() {
				$.ajax({
					url: "/api/getAllGroupNames",
					type: "get",
					success: function(response) {
						var g = JSON.parse(response);
						g.forEach(function(element) {
							$("#groupsel").append("<option>" + element + "</option>");
						})
					},
					error: function(xhr) {
						console.log("couldn't get groups");
					}
				});
			});
			function addMsg() {
				var dt = new Date();
				var time = dt.getHours() + ":" + dt.getMinutes();
				sentmsg = document.getElementById("msg");
				var msg = sentmsg.value;
				groupId = $('#groupsel :selected').text();
				if (groupId == null) {
					console.log("no group entered");
				} else {
					//$(".jumbotron").append("<div class='container sender' style='word-wrap:break-word;'> <p style='word-wrap:break-word;'>" + msg + "</p><span class='time-left' style='float:right'>" + time + "</span></div>");
					//console.log(msg);
					var response = $.post("/api/postMessageInGroup",
							{
							"message": msg,
							"groupId": groupId
						});
					//$(".textarea").val("");
					console.log(response);
				}
			};
			
			setInterval ( function() {
				groupId = $('#groupsel :selected').text();
				$.ajax({
					url: "/api/getAllGroupMessages",
					type: "get",
					data: {
						"groupId": groupId
					},
					success: function(response) {
						//console.log(response);
						if (response != oldResponse){
							$("#chatlog").empty();
							var obj = JSON.parse(response);
							obj.forEach( function(element) {
								//console.log(element.messageContent);
								$("#chatlog").append("<div class='container sender' style='word-wrap:break-word;'> <p style='word-wrap:break-word;'>" + element.username + ": " + element.messageContent + "</p><span class='time-left' style='float:right'>" + element.postDate +  "</span></div>");
							});
							oldResponse = response;
						}
					},
					error: function(xhr) {
						console.log("big bummer");
					}
				});
			}, 1000);
			
		</script>	      
      
</body>
</html>