<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf"
	crossorigin="anonymous">
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/chatwin.css}">
<script type="text/javascript" th:src="@{/js/theme.js}"></script>
<script type="text/javascript" th:src="@{/js/global.js}"></script>
<script type="text/javascript" th:src="@{/js/geolocation.js}"></script>
<script type="text/javascript" th:src="@{/js/groupMemberLocations.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.js"></script>
<title>Chat</title>
<style>
	#map {
		height: 200px;
		width: 100%;
	}
</style>
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">Gathr</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
       
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/groups">Groups</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/info">Location</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/chat">Chat</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="/contactus">Contact
						Us</a></li>
            </ul>
          </div>
       
          <div class="my-2 my-lg-0">
          	<a class="nav-link" href="/account">Account</a>
          </div>
          
      </nav>
      
      	
      	<div class="container jumbotron" style="margin: auto">
      	<h3>Current Group</h3>
      	<div class="form-group">
	      <label for="groupsel">Group select</label>
	      <select class="form-control" id="groupsel">
	      </select>
	    </div>
	    
      	<div id="map" class="container h-100 w-100 jumbotron">
      	</div>
      	
      	
      	
      	<div class="jumbotron" id="chatlog" style="height:400px;overflow:auto; padding-bottom:0px;">
      	
		</div>
		
		<textarea rows="3" cols="50" id="msg" style="width: 100%;"></textarea>
		<button onclick="addMsg() " style="text-align: center" type="button" class="btn btn-lg btn-block btn-success">SEND</button>
		</div>
		
		
		<script type="text/javascript">
			var sentmsg;
			var groupId;
			var oldResponse;
			//function switchGroup() {
			//	var groupEntered = document.getElementById("groupID");
			//	groupId = groupEntered.value;
			//}
			$("document").ready(function() {
				$.ajax({
					url: "/api/getAllGroupNames",
					type: "get",
					success: function(response) {
						var g = JSON.parse(response);
						g.forEach(function(element) {
							$("#groupsel").append("<option>" + element + "</option>");
						})
					},
					error: function(xhr) {
						console.log("couldn't get groups");
					}
				});
			});
			function addMsg() {
				var dt = new Date();
				var time = dt.getHours() + ":" + dt.getMinutes();
				sentmsg = document.getElementById("msg");
				var msg = sentmsg.value;
				groupId = $('#groupsel :selected').text();
				if (groupId == null) {
					console.log("no group entered");
				} else {
					//$(".jumbotron").append("<div class='container sender' style='word-wrap:break-word;'> <p style='word-wrap:break-word;'>" + msg + "</p><span class='time-left' style='float:right'>" + time + "</span></div>");
					//console.log(msg);
					var response = $.post("/api/postMessageInGroup",
							{
							"message": msg,
							"groupId": groupId
						});
					//$(".textarea").val("");
					console.log(response);
				}
			};
		
			function updateMap(data) {
				var obj = JSON.parse(data);
				obj.forEach( function(element) {
					var latitude = element.lat;
					var longitude = element.lon;

					var pos = new google.maps.LatLng(latitude, longitude);
					console.log(latitude, longitude);
					var infowindow = new google.maps.InfoWindow({
				          
				        });
					var marker = new google.maps.Marker({position: pos, map: map, title: element.username});
					marker.addListener('click', function() {
				          infowindow.open(map, marker);
				        });
  	        		console.log(marker);
				});
				
			}
			 function addMarker(location, map) {
			        // Add the marker at the clicked location, and add the next-available label
			        // from the array of alphabetical characters.
			        var marker = new google.maps.Marker({
			          position: location,
			          map: map
			        });
			      }
			 
			var locations
			setInterval ( function() {
				groupId = $('#groupsel :selected').text();
				getLocationsOfGroupMembers(groupId);
				$.ajax({
					url: "/api/getAllGroupMessages",
					type: "get",
					data: {
						"groupId": groupId
					},
					success: function(response) {
						//console.log(response);
						if (response != oldResponse){
							$("#chatlog").empty();
							var obj = JSON.parse(response);
							obj.forEach( function(element) {
								//console.log(element.messageContent);
								$("#chatlog").append("<div class='container sender' style='word-wrap:break-word;'> <p style='word-wrap:break-word;'><b>" + element.username + ": </b>" + element.messageContent + "</p><span class='time-left' style='float:right'>" + element.postDate +  "</span></div>");
							});
							oldResponse = response;
							$('#msg').val('');
						}
					},
					error: function(xhr) {
						console.log("big bummer");
					}
				});
			}, 1000);
			
		</script>	 
		<script type="text/javascript">
		var map;
      	var infoWindow;
		// Initialize and add the map
		function initMap() {
			var start = geoloc();
  		// The map, centered at your location
  			map = new google.maps.Map(document.getElementById('map'), {zoom: 14, center: start});
  			var test = 1;
			
  			//getLocationsOfGroupMembers("checking");
  	        if (navigator.geolocation) {
  	        	navigator.geolocation.getCurrentPosition(function(position) {
  	        		var pos = {lat: position.coords.latitude, lng: position.coords.longitude};
  	        		map.setCenter(pos);
  	        		//var marker = new google.maps.Marker({position: pos, map: map});
  	        		//console.log(marker);
  	        	}, function() {
  	        		handleLocationError(true);
  	        	});
  	        } else {
  	        	handleLocationError(false);
  	        }
		}

		function handleLocationError(browser) {
			console.log(browser ? 'Location failed' : 'browser error');
		}
    </script>
		<script async defer
    	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDO1F_FVQT42wzr2cTWB0hWW0z0p4Yh8f4&callback=initMap">
      	</script>     
      
</body>
</html>