<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T5jhQKMh96HMkXwqVMSjF3CmLcL1nT9//tCqu9By5XSdj7CwR0r+F3LTzUdfkkQf"
	crossorigin="anonymous">
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/styles.css}">
<script type="text/javascript" th:src="@{/js/loginCheck.js}"></script>
<script type="text/javascript" th:src="@{/js/global.js}"></script>
<title>Home</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="#">Gathr</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarColor01" aria-controls="navbarColor01"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" href="/home">Home<span
						class="sr-only">(current)</span></a></li>
				<li class="nav-item active"><a class="nav-link" href="/groups">Groups</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/info">Location</a>
				</li>
				<li class="nav-item">
                <a class="nav-link" href="/chat">Chat</a>
              </li>
				<li class="nav-item"><a class="nav-link" href="/contactus">Contact
						Us</a></li>
			</ul>
			<div class="my-2 my-lg-0">
				<a class="nav-link" id="nav-link" href="/account">Account</a>
			</div>
		</div>
	</nav>
	
	<h1 style="text-align: left"> Create New Group! </h1>
	
	<input name="groupID" type="text" id="groupID" size="63" />
	<button onclick="getInfo() " style="text-align: center">Submit</button>
	
	<br>
	<h1 style="text-align: left"> Add User to Group! </h1>
	<p>Group Name</p>
	<input name="groupID2" type="text" id="groupID2" size="63" />
	<br>
	<p>User Email</p>
	<input name="userEmail" type="text" id="userEmail" size ="63" />
	<button onclick="addToGroup() " style="text-align: center">Submit</button>
	
	<br>
	<h1 style="text-align: left"> Remove User From Group! </h1>
	<p>Group Name</p>
	<input name="groupID3" type="text" id="groupID3" size="63" />
	<br>
	<p>User Email</p>
	<input name="userEmail2" type="text" id="userEmail2" size ="63" />
	<button onclick="removeToGroup() " style="text-align: center">Submit</button>
	
	<script type="text/javascript">
		function getInfo() {
			var name = document.getElementById("groupID");
			var deciphered = name.value;
			console.log(deciphered);
			var response = $.post("/api/createGroup",
					{
					"groupId": deciphered
				});
			//console.log(response);
		}
		function addToGroup() {
			var grouptxt = document.getElementById("groupID2");
			var groupN = grouptxt.value;
			var usertxt = document.getElementById("userEmail");
			var userN = usertxt.value;
			var answer = $.post("/api/addUserToGroup",
					{
						"groupId": groupN,
						"targetUserEmail": userN
					});
			console.log(answer);
		}
		function removeToGroup() {
			var grouptxt = document.getElementById("groupID3");
			var groupN = grouptxt.value;
			//$("#groupID3").empty
			var usertxt = document.getElementById("userEmail2");
			var userN = usertxt.value;
			var answer = $.post("/api/removeUserFromGroup",
					{
						"groupId": groupN,
						"targetUserEmail": userN
					});
			console.log(answer);
		}
	</script>

</body>
</html>